<launch>  
  <arg name="config_file" default="$(find SegmentationMapping)/config/overlay_lidar_multi_camera.yaml"/>

  <node pkg="SegmentationMapping" type="overlay_lidar_multi_camera_node" name="overlay_lidar_multi_camera_node" output="screen">
    <rosparam file="$(arg config_file)"/>
  </node>
</launch>
